<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Multi-Elevator Simulation</title>
    <link rel="stylesheet" href="./style.css">
</head>
<body>
    <div class="simulation-container">
        <div class="building-complex" id="building-complex">
            <div class="floors-container" id="floors-container"></div>
            <div class="elevator-building" id="elevator-building"></div>
        </div>

        <div class="description"></div>
    </div>

    <script src="./main.js"></script>
</body>
</html>
